<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% if(data.length > 0){ %>
   <% data.forEach(value=>{ %>

      <h2>country: <%= value.country %> </h2>
      <p>date: <%= value.date %> </p>
      <form action="/viewDetails/<%= value.id %> " method="get">
        <button>View Details</button>
      </form>

   <% }) %>
  <% }else{ %>
    <h2>No available Records</h2>
  <% } %> 
</body>
</html>